html, body {
	font-family: 'Play', sans-serif;
	background: #000000;
	margin: 0;
	overflow: hidden;
}

#container {
	z-index: 1;
}

#overlay{
	z-index: 2;
	position: absolute;
	top : 0;	
	color : white;
	font-size: 2em;
	text-align: center;
	width: 100%;
}
