html, body {
	font-family: 'Play', sans-serif;
	background: #070F2B;
	margin: 0;
	overflow: hidden;
}

#container {
	z-index: 2;
}

#score-board {
	z-index: 3;
	position: absolute;
	bottom : 0;
	left : 50%;
	margin-left: -505px;


}